version: 2.1

orbs: 
  aws-cli: circleci/aws-cli@3.1.1
  aws-s3: circleci/aws-s3@3.0

jobs:
  build:
    working_directory: ~/circleci-python
    docker:
      - image: "circleci/python:3.6.4"
    steps:
      - checkout
      - run: python3 main.py
  test:
    working_directory: ~/circleci-python
    docker:
      - image: "circleci/python:3.6.4"
    steps:
      - checkout
      - run: python3 main-test.py
  aws-cli-example:
    executor: aws-cli/default
    steps:
      - checkout
      - aws-cli/setup:
          aws-access-key-id: AWS_ACCESS_KEY_ID
          aws-secret-access-key: AWS_SECRET_ACCESS_KEY
          aws-region: AWS_REGION
      - run: ls
  
workflows:
  build_and_test:
    jobs:
      - build
      - test:
          requires:
            - build
  aws-cli:
    jobs:
      - aws-cli-example
#  s3-example:
#    jobs:
#     - S3