version: 2.1

orbs: 
  aws-cli: circleci/aws-cli@3.1.1

jobs:
  aws-cli-example:
    executor: aws-cli/default
    steps:
      - checkout
      - aws-cli/setup:
          aws-access-key-id: AWS_ACCESS_KEY_ID
          aws-secret-access-key: AWS_SECRET_ACCESS_KEY
          aws-region: AWS_REGION
      - run:
          aws cloudformation update-stack --stack-name circle-ci --template-body file://.cloudformation/circle-ci.yml
workflows:
  aws-cli:
    jobs:
      - aws-cli-example