version: 2.1

orbs: 
  aws-cli: circleci/aws-cli@3.1.1

jobs:
  build:
    working_directory: ~/circleci-python
    docker:
      - image: "circleci/python:3.6.4"
    steps:
      - checkout
      - run: python3 main.py
  test:
    working_directory: ~/circleci-python
    docker:
      - image: "circleci/python:3.6.4"
    steps:
      - checkout
      - run: python3 main-test.py
  aws-cli-example:
    executor: aws-cli/default
    steps:
      - checkout
      - aws-cli/setup:
          aws-access-key-id: AWS_ACCESS_KEY_ID
          aws-secret-access-key: AWS_SECRET_ACCESS_KEY
          aws-region: AWS_REGION
      - run: 
          - aws s3 cp /home/neron/Projects/test_circleci/.cloudformation s3://circle-ci-094552747742/ --recursive
          #- aws cloudformation update-stack --stack-name circle-ci --template-url https://s3.amazonaws.com/
          #--parameters ParameterKey=Parm1,ParameterValue=test1 ParameterKey=Parm2,ParameterValue=test2  
          #- aws cloudformation deploy --template-file .cloudformation/circle-ci.yml --stack-name circle-ci
  
workflows:
  build_and_test:
    jobs:
      - build
      - test:
          requires:
            - build
  aws-cli:
    jobs:
      - aws-cli-example