version: 2.1

orbs: 
  aws-cli: circleci/aws-cli@3.1.1

jobs:
  build:
    working_directory: ~/circleci-python
    docker:
      - image: "circleci/python:3.6.4"
    steps:
      - checkout
      - run: python3 main.py
  test:
    working_directory: ~/circleci-python
    docker:
      - image: "circleci/python:3.6.4"
    steps:
      - checkout
      - run: python3 main-test.py
  aws-cli-example:
    executor: aws-cli/default
    steps:
      - checkout
      - aws-cli/setup:
          aws-access-key-id: AWS_ACCESS_KEY_ID
          aws-secret-access-key: AWS_SECRET_ACCESS_KEY
          aws-region: AWS_REGION
      - run: 
          aws s3 cp .cloudformation s3://circle-ci-094552747742/ --recursive
          ls
          aws cloudformation update-stack --stack-name circle-ci --template-body file://.cloudformation/circle-ci.yml
workflows:
  build_and_test:
    jobs:
      - build
      - test:
          requires:
            - build
  aws-cli:
    jobs:
      - aws-cli-example